<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>AWesome</title>

</head>
<body>
<table width="100%">
	<tbody>
		<tr>
			<td align="left">
				<strong>BOOM</strong>
				<br>Bastic<br>Telp. 082125573759</td></tr>
	</tbody>
	
	</table><br><table width="100%" cellspacing="0">
    <tbody>
			<tr>
				<td colspan="4" align="center" style="border-bottom:1px dashed #000">
					BookingCode: 33214
				</td>
			</tr>
			<tr>
				<td colspan="4" align="left" style="border-bottom:1px dashed #000">
					ConfirmationCode: <br>2343242
				</td>
			</tr>
			
			
		 

		<tr>
			<td>
				Field
			</td>
			<td>
				First FIeld
			</td>
		</tr>
		
		<tr>
			<td>
				Durasi
			</td>
			<td>
				 8 jam 
			</td>
		</tr>
		
		<tr>
			<td>
				Mulai
			</td>
			<td>
				Sekarang
			</td>
		</tr>
		
		<tr>
			<td>
				Selesai
			</td>
			<td>
				Besok
			</td>
		</tr>
		
		<tr>
			<td>
				Jumlah DP
			</td>
			<td>
				50%
			</td>
		</tr>
	  
  	    
  </tbody></table>

</body></html>